@import "../Variables.less";

.container {
    padding-bottom: 10%;
    padding-top: 7%;

    .title {
        font-weight: bold;
        padding-left: 15px;
    }

    #login-carousel {
        background-color: #fff;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 18px;
        padding: 25px;
    }

    .wrapper-sign-up {
        padding-top: 20px;
    }

}
