@import "../../Variables.less";

.wrapper-event-banner {
    
    .row {

        .col {
            padding: 0;
        }

    }

    .event-banner {
        height: 250px;
        width: 100%;
    }

}

.wrapper-event-info {
    padding-top: 50px;

    .event-title {
        color: #212529;
        font-family: "poppins-bold";
        font-size: 3rem;
        margin-top: 30px;
        text-align: left;
    }

    .featured-image {
        border-radius: 6px;
        max-width: 350px;
    }

}