@import "../../Variables.less";

.wrapper-event-banner {
    
    .row {

        .col {
            padding: 0;
        }

    }

    .event-banner {
        height: 250px;
        width: 100%;
    }

}

.wrapper-event-info {
    padding-top: 30px;

    .event-title {
        font-family: "poppins-bold";
    }

    .event-title {
        color: #212529;
        font-size: 3rem;
        margin-top: 30px;
        text-align: left;
    }

    .featured-image {
        border-radius: 6px;
        max-width: 350px;
    }

    .wrapper-technical-sheet {
        margin-top: 30px;

        .technical-sheet-data {
            background-color: #fff;
            border-radius: 6px;
            padding: 25px;

            .title,
            .subtitle {
                font-family: "poppins-bold";
            }

            .title {
                border-bottom: 1px solid #21252930;
                margin-bottom: 25px;
            }

            .badge,
            .distance {
                margin-right: 5px;
            }

        }

    }

}
