.wrapper-event-banner {
    
    .row {

        .col {
            padding: 0;
        }

    }

    .event-banner {
        height: 250px;
        width: 100%;
    }

}

.event-title {
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
}