@import "../../Variables.less";

.wrapper-paymethods {
    margin-top: 30px;

    .additional-paymethods-data {
        background-color: #fff;
        border-radius: 6px;
        padding: 25px;

        .title {
            border-bottom: 1px solid #21252930;
            font-family: "poppins-bold";
            margin-bottom: 25px;
            padding-bottom: 5px;

            @media (max-width: 1200px) {
                font-size: 1.5rem;
            }

        }

        .subheading {
            font-family: "poppins-bold";
            margin-bottom: 20px;

            @media (max-width: 1200px) {
                font-size: 1.5rem;
            }

        }

        .price-wrapper {
            font-size: 22px;
            margin-bottom: 15px;
        
            .price {
                color: #00ac47;
                font-weight: 600;
            }

            .price-title {
                color: #3B82F6;
                font-weight: 600;
                margin-right: 10px;
            }

        }

        form {

            .form-select {
                border-radius: 18px;
            }

        }

    }
}