@import "../../Variables.less";

.wrapper-report-payment {
    margin-top: 30px;

    .report-payment-data {
        background-color: #fff;
        border-radius: 6px;
        padding: 25px;

        .title {
            border-bottom: 1px solid #21252930;
            font-family: "poppins-bold";
            margin-bottom: 25px;
            padding-bottom: 5px;
        }

        .form-label {
            font-weight: 600;
            margin-bottom: 0.3rem;
        }

    }
}