@import "../../Variables.less";

.wrapper-technical-sheet {
    margin-top: 30px;

    .technical-sheet-data {
        background-color: #fff;
        border-radius: 6px;
        padding: 25px;

        .title,
        .subtitle {
            font-family: "poppins-bold";
        }

        .title {
            border-bottom: 1px solid #21252930;
            margin-bottom: 25px;
        }

        .badge {
            margin-right: 5px;
        }

    }

}